<h1 class="md:text-8xl text-5xl place-content-center text-center m-5 p-5 border-b border-black ipad-h1">myaccount</h1>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key} px-4 py-3 rounded m-2.5") %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container mx-auto justify-center p-3">
    <div class="field text-xl md:text-4xl p-2 md:p-5 m-2 md:m-5 w-full text-center">
      <%= f.label :name, t('.name') %>
      <%= f.text_field :name, class: "border border-black", placeholder: "your name"%>
    </div>

    <div class="field text-2xl md:text-4xl p-2 md:p-5 m-2 md:m-5 w-full text-center">
      <%= f.label :line_alert, t('.line_alert') %>
      <%= f.check_box :line_alert, class: "ml-5 transform scale-150" %>
    </div>

    <h2 class="text-2xl md:text-4xl">自動購入連携について(現在はAmazonのみ対応)</h2>
    <div class="text-lg md:text-2xl">
      <p>ECサイトのID(メールアドレス)とパスワードを当アプリに登録することで、自動でECサイトから商品を購入します。</p>
      <p>登録するECサイトは商品ページのURLに記載したECサイトを登録してください。</p>
    </div>

    <div class="field text-xl md:text-4xl p-2 md:p-5 m-2 md:m-5 w-full text-center">
      <%= f.label :ec_login_id, t('.login_id') %>
      <%= f.email_field :ec_login_id, class: "border border-black", placeholder: "example@gmail.com" %>
    </div>

    <div class="field text-xl md:text-4xl p-2 md:p-5 m-2 md:m-5 w-full text-center">
      <%= f.label :ec_login_password, t('.password') %>
      <%= f.password_field :ec_login_password, class: "border border-black", placeholder: "password" %>
    </div>

    <div class="actions text-lg md:text-2xl p-2 md:p-5 m-2 md:m-5 w-full text-center">
      <%= f.submit t('.updated'), class: "m-3 bg-green-200 text-black py-2 px-4 rounded button-size" %>
    </div>
  </div>
<% end %>
