<h1>my account</h1>

<div>
  <strong>登録者名:</strong>
  <%= @user.name %>
</div>
<div>
  <strong>Line通知機能:</strong>
  <%= @user.line_alert ? "あり" : "なし" %>
</div>
<div>
  <strong>自動購入連携:</strong>
  <%= @user.ec_login_id.present? ? "あり" : "なし" %>
</div>

<div>
  <%= link_to 'アカウント情報の編集', edit_user_registration_path %>
</div>
<div>
  <%= link_to 'アカウント情報の削除', user_registration_path(current_user.id), method: :delete, data: {confirm: t('本当にアカウント情報を削除しますか?')} %>
</div>