<h1>my account</h1>

<div>
  <strong><%= t('.name') %>:</strong>
  <%= @user.name %>
</div>
<div>
  <strong><%= t('.line_alert') %>:</strong>
  <%= @user.line_alert ? "あり" : "なし" %>
</div>
<div>
  <strong><%= t('.connect_auto_buy') %>:</strong>
  <%= @user.ec_login_id.present? ? "あり" : "なし" %>
</div>

<div>
  <%= link_to t('.edit'), edit_user_registration_path %>
</div>
<div>
  <%= link_to t('.delete'), user_registration_path(current_user.id), method: :delete, data: {confirm: t('本当にアカウント情報を削除しますか?')} %>
</div>