<% if expendable_item.errors.any? %>
    <div id="error_explanation" class = "alert alert-danger">
      <ul>
        <% expendable_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_with(model: expendable_item, local:true) do |form| %>
  <div>
    <%= form.label :name, t('.name') %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :amount_of_product, t('.amount_of_product') %>
    <%= form.text_field :amount_of_product %>
  </div>
  <div>
    <%= form.label :amount_to_use, t('.amount_to_use') %>
    <%= form.text_field :amount_to_use %>
  </div>
  <div>
    <%= form.label :frequency_of_use, t('.frequency_of_use') %>
    <p>(1日に何回使用するか)</p>
    <%= form.text_field :frequency_of_use %>
  </div>
  <div>
    <%= form.label :image, t('.product_image') %>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.label :auto_buy, t('.auto_buy') %>
    <%= form.check_box :auto_buy, {}, "する", "しない" %>
  </div>
  <div>
    <%= form.label :product_url, t('.product_url') %>
    <%= form.text_field :product_url %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>