<h1><%= t('.shopping_index') %></h1>


<% @expendable_items.each do |item| %>
  <div>
    <p>
      <%= image_tag item.image.variant(resize_to_limit: [100, 100]) if item.image.present? %>
    </p>
    <p>
      <strong><%= t('.name') %>:</strong>
      <%= item.name %>
    </p>
    <p>
      <strong><%= t('.amount_of_product') %>:</strong>
      <%= item.amount_of_product %>
    </p>
    <p>
      <%= t('.to_') %>
      <strong>
        <%=  (item.deadline_on - Time.zone.now).to_i / 1.day %>
      </strong>
      <%= t('.day') %>
    </p>
    <p>
      <%= link_to t('.show'), expendable_item_path(item.id) %>
    </p>
    <p>
      <%= link_to t('.delete'), expendable_item_path(item.id), method: :delete, data: { confirm: '本当に削除しますか?'} %>
    </p>
  </div>
<% end %>
