<h1><%= @expendable_item.name %><%= t('.show_item') %></h1>
<div>
  <div>
    <%= image_tag @expendable_item.image.variant(resize_to_limit: [100, 100]) if @expendable_item.image.present? %>
  </div>
  <div>
    <strong><%= t('.name') %></strong>
    <%= @expendable_item.name %>
  </div>
  <div>
    <strong><%= t('.amount_of_product') %></strong>
    <%= @expendable_item.amount_of_product %>
  </div>
  <div>
    <strong><%= t('.amount_to_use') %></strong>
    <%= @expendable_item.amount_to_use %>
  </div>
  <div>
    <strong><%= t('.frequency_of_use') %></strong>(<%= t('.about_frequency') %>)
    <%= @expendable_item.frequency_of_use %>
  </div>
  <div>
    <strong><%= t('.auto_buy') %></strong>
    <%= @expendable_item.auto_buy %>
  </div>
  <div>
    <%= link_to t('.reset_reference_day'), expendable_item_path(@expendable_item.id, set_reference_day: true), data: { confirm: '再設定すると以前の消費完了日には戻せませんがよろしいですか?'} %>
  </div>
  <div>
    <%= link_to t('.edit'), edit_expendable_item_path(@expendable_item.id) %>
  </div>
  <div>
    <%= link_to t('.delete'), expendable_item_path(@expendable_item.id), method: :delete, data: { confirm: '本当に削除しますか?'} %>
  </div>
</div>