<h1 class="md:text-5xl text-3xl place-content-center p-5 text-center border-b border-black ipad-h1"><%= @expendable_item.name %><%= t('.show_item') %></h1>
<div class="image-bg">
  <div class="container mx-auto p-3">
    <div class="mx-auto my-10 block max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <% if @expendable_item.image.present? %>
        <%= image_tag @expendable_item.image.variant(resize_to_limit: [350, 350]), class: "rounded-t-lg w-full" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: '350x350', class: "rounded-t-lg w-full" %>
      <% end %>
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= t('.name') %></h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400"><%= @expendable_item.name %></p>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= t('.amount_of_product') %></h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400"><%= @expendable_item.amount_of_product %></p>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= t('.amount_to_use') %></h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400"><%= @expendable_item.amount_to_use %></p>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= t('.frequency_of_use') %>(<%= t('.about_frequency') %>)</h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400"><%= @expendable_item.frequency_of_use %></p>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= t('.auto_buy') %></h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400"><%= @expendable_item.auto_buy %></p>
        <div class="p-5 mx-auto mt-4 w-full text-center">
          <%= link_to t('.reset_reference_day'), expendable_item_path(@expendable_item.id, set_reference_day: true), data: { confirm: '再設定すると以前の消費開始日には戻せませんがよろしいですか?'}, class: "sm:m-2 bg-yellow-200 hover:bg-yellow-100 text-black py-2 px-2 rounded" %>
        </div>
        <div class="p-5 mx-auto mt-4 w-full text-center">
          <%= link_to t('.edit'), edit_expendable_item_path(@expendable_item.id), class: "sm:m-2 bg-green-200 hover:bg-green-100 text-black py-2 px-2 rounded" %>
          <%= link_to t('.delete'), expendable_item_path(@expendable_item.id), method: :delete, data: { confirm: '本当に削除しますか?'}, class: "sm:m-2 bg-red-200 hover:bg-red-100 text-black py-2 px-2 rounded" %>
        </div>
      </div>
    </div>
  </div>
</div>