<h1>All Acount</h1>

<table>
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.expendable_items') %></th>
      <th><%= t('.line_alert') %></th>
      <th><%= t('.connect_auto_buy') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.expendable_items.count %></td>
        <td><%= user.line_alert ? "あり" : "なし" %></td>
        <td><%= user.ec_login_id.present? ? "あり" : "なし" %></td>
        <td><%= link_to t('.delete'), admin_user_path(user.id), method: :delete, data: {confirm: t('本当に削除しますか？')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>