<h1>All Acount</h1>

<table>
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>登録済消耗品数</th>
      <th>Line通知機能</th>
      <th>自動購入連携</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.expendable_items.count %></td>
        <td><%= user.line_alert ? "あり" : "なし" %></td>
        <td><%= user.ec_login_id.present? ? "あり" : "なし" %></td>
        <td><%= link_to 'アカウント削除', admin_user_path(user.id), method: :delete, data: {confirm: t('本当に削除しますか？')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>