<!DOCTYPE html>
<html>
  <head>
    <title>StockRollingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to '新規消耗品登録はこちら', new_expendable_item_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
